{% extends 'base.html' %}
{% block content %}
{{super()}}
<h1>Info about 1st Flask HW</h1>
<p class="about">This is simple Flask HW that I made while taking a courses</p>
<p class="about">Please notice that I am not a WEB designer, I know the site looks bad, that's not my fault</p>
<figure>
<p><img class="cat" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/cute-cat-photos-1593441022.jpg?crop=0.670xw:1.00xh;0.167xw,0&resize=640:*" alt="cat"></p>
<figcaption>Here is an image of a cute cat</figcaption>
</figure>
{% endblock content %}